mixin absolventThumb(opts = {}, index = 0)

  <!-- položka absolvent -->

  - let containerStyle = (index % 2 === 0 && index !== 0) ? 'float: right;' : 'float: left; clear: both;'
  - containerStyle = containerStyle + ' width: 45%; overflow: hidden; margin-bottom: 2em; '

  .absolvent(style=containerStyle)

    .image
      img(style="" alt="" src=src=`${opts.obrazekSrc}` height="273")

    .absolvent-thumb-info
      h3(style="text-align: justify;")
        strong #{opts.fullname_academic}
      p(style="text-align: justify;").
        !{opts.excerpt}
      p
        strong Jaké je Vaše zaměstnání a pracovní pozice?<br>
        span.absolvent-position-info.
          #{opts.current_position.full}
      p
        a(href=`${opts.podrobnostiUrl}`) Podrobné informace
  <!-- konec položka absolvent -->
