mixin projektThumb(item)

  table(style='width: 100%')
    tbody
      tr(style='height: 12px;')
        td(style="width:20%") Poskytovatel a kód
        td(style="width:80%")
          - customAgency = (item.agency_program !== undefined && item.agency_program !== "") ? item.agency + " " + item.agency_program : item.agency;
          strong
            span #{customAgency}
            if item.code !== undefined && item.code !== ""
              span &mdash; #{item.code}
      tr(style='height: 12px;')
        td(style="width:20%") Projekt
        td(style="width:80%")
          a(href=item.podrobnostiUrl)
            strong #{item.title}
          span &nbsp;|&nbsp; #{item.investigator}&nbsp;|&nbsp;
          span #{item.date_start_formatted} &mdash; #{item.date_end_formatted}

      if item.project_web_link !== undefined && item.project_web_link !== ""
        tr
          td(style="width:20%") Odkaz na web
          td(style="width:80%")
            a(href=item.project_web_link) Vlastní web projektu
