mixin publikaceRow(opts = {})

  <!-- položka kniha -->
  tr(style="height: 70px;")
    td(style="height: 70px;" width="70")
      if (opts.has_podrobnosti !== false)
        a(href=`${opts.podrobnostiUrl}`)
          img(height="73" alt=`Obálka knihy ${opts.title}` title=`Obálka knihy ${opts.title}` src=`${opts.obrazekNahledSmallSrc}` onerror=`this.onerror=null;this.src='${opts.obrazekNahradaObrazkuNahledSmallSrc}';`)
      else
        img(height="73" alt=`Obálka knihy ${opts.title}` title=`Obálka knihy ${opts.title}` src=`${opts.obrazekNahledSmallSrc}` onerror=`this.onerror=null;this.src='${opts.obrazekNahradaObrazkuNahledSmallSrc}';`)
    td(style="height: 70px;")
      div
        if (opts.has_podrobnosti !== false)
          a(href=`${opts.podrobnostiUrl}`)
            if (opts.subtitle !== undefined && opts.subtitle !== '')
              b #{opts.title}: #{opts.subtitle}
            else
              b #{opts.title}
        else
          b #{opts.title}
      div #{opts.author},&nbsp;
        if opts.publisher !== undefined && opts.publisher !== ''
          span #{opts.publisher},&nbsp;

        if (opts.published_date !== undefined && opts.published_date !== '')
          span #{opts.published_date}
  <!-- konec položka kniha -->
